[Unit]
Description=Sprawdzanie aktualizacji ChrzaszczBOT co 5 minut

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=chrzaszczbot-update.service

[Install]
WantedBy=timers.target
